<div class="container">
  <div class="section-left">
    <div class="info-container">
    <div class="section">
        <h1>Why The Need? </h1>
      </div>
      <div class="content">
        <p>
          Today in Alberta there are 192 fire detection stations within the forests and only 46 of these interact remotely. These 46 stations don't require
          human interaction and report climate data on an hourly basis. The other stations require a human to manually observe and report climate data. These
          types of stations only report in once or twice per day. Overall this is hugely inefficient system as the technologies of today allow for quicker and more
          accurate detection of fires. We can better manage our human and technical resources to improve fire detection in some of the of the most remote and
          forested areas.
        </p>
        <img src="../../assets/toower2.jpg" alt="Alberta Watch Tower" width="100%">
      </div>
    </div>
  </div>

  <div class="section-right">
    <div class="info-container">
    <div class="section">
      <h1>Our Solution </h1>
      <div class="content">
        <p>
          Together as a group of competitive hackers we have devised a system that will allow the forests to report back to us with little to no human interaction.
          The solution involves a collection of field modules that sense heat and humidity which only need to be placed and activated once. Relying upon
          solar power and a cellular network each of these modules can take active readings and report back their findings. These readings will be in much
          smaller intervals and a much smaller granularity than today's methods.
        </p>
      </div>
      <img src="../../assets/chip.jpg" alt="Early Embedded Chip" width="100%">
    </div>
  </div>
  </div>

  <div class="section-left">
  <div class="section">
    <h1>Sacrifices</h1>
    <div class="content">
      <p>
        We challenged ourselves to work within some very specific guidelines to produce the most efficient product for this purpose. Each module will be an embedded
        chip and sensors in a waterproof box. In efforts to eliminate as much overhead cost as possible the modules will not be able to track their own location and
        will not involve extranious sensors or cameras. Weights and sizes of these modules will be strictly controlled so they can easily be brought to their deployment
        location and installed.
      </p>
    </div>
  </div>
</div>
  <div class="section">
    <h1>Security</h1>
    <div class="content">
      <p>
        The program embedded within the modules will be responsible for reporting back if it has been tampered with. This is done by a strict threshold
        of vibration and ongoing monitoring by an onboard vibration sensor. All communication to and from the modules is safe because block chain?
      </p>
    </div>
  <div class="section">
    <h1>Particle Electron</h1>
    <div class="content">
      <p>
        Our first prototypes utilized the technology present with the particle electron and gave us a preliminary idea of how this system could work.
        However the particle we were working with eventually failed and due to circumstances beyond our control we were unable to recover from this set
        back. At this time we do not have a physical prototype of our field module.
      </p>
    </div>
    <img src="../../assets/electron.jpg" alt="Particle Electron" width="100%">
  </div>
    <div class="section">
      <h1>Block Chain</h1>
      <div class="content">
        <p>
          Our choice to use blockchain technology. The vast array of blockchain technology has yet to be truly uncovered and the only
          definitive way to uncover these uses is to test it and apply it into new technologies and in new environments. We want to be on the leading edge
          of technology and have chosen to utilize and test this technology in our internet of things.
        </p>
      </div>
    </div>
    <div class="section">
      <h1>Databases, Angular and more</h1>

      <div class="content">
        <p>
          What even is our front end anymore?
        </p>
      </div>
    </div>
    <div class="section">
      <h1>Open Source</h1>
      <div class="content">
        <p>
          We made the decision to allow all the data collected by our modules to be open source and viewable to the world wide web.
          The idea brought forward is to create a vast internet of things and there is no better way to do that than to create a self
          reporting forest the world can see. As programmers we truly value the world of open source and the uses of the data we are
          collecting and showcasing has many uses far beyond what we currently have the knowledge to do.
        </p>
      </div>
    </div>

    <div class="section">
      <h1>In the Future</h1>
      <div class="content">
        <p>
         The future looks bright for this kind of technology as the uses of it are far beyond our imaginations. In the near future we would like to automatically
         warn fire departments if a module detects higher than normal heat signatures. We would also like to automatically graph the data from
          the sensors for researchers to get a sense of the long range trends in data. Our smart forest has abilities beyond our understanding
          but we are sure it will help us protect one of our most valuable resources in the future.
        </p>
      </div>
    </div>
    <div class="section">
      <h1>The development Team</h1>
      <div class="content">
        <p>
          This project was made by Jose Herrera, Austin Wattling, and Richard Huynh as part of the University of Calgary's 2018 hackathon.
          The theme of the Hackathon was "long range internet of things" and we have created a smart forest. We believe the
          long range internet of things applies both to idea of using a cellular connection as our form of long range communication and
          as this idea can and will be seen long into the future. We would like to thank all the sponsors of the event and the university of calgary
          for hosting us.
        </p>
      </div>
      <img src="../../assets/ulogo.png" alt="Particle Electron" width="20%">
    </div>

  </div>
