.container{
  width:80vw;
  margin-left: 10vw;
  display: flex;
  align-content: center;
  flex-direction: column;
}
agm-map {
  width:100%;
  height:100%;
}

.section{
  text-align: center;
}
.section-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.info-container{
  width:40%;
}